body{
    background-color: #00FF00;
}
button{
    width: 90px;
}
h1{
    color: #696969;
}
p{
    font-size: 14pt;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
}
